# Docker image to inherit from
BASE_IMAGE=debian:trixie-20260610

# Dev-user info
USER_NAME=devuser
USER_PASS=123456
USER_UID=1000
USER_GID=1000
# SSH public key may be empty
SSH_PUB_KEY=

# SSH address (for port forwarding)
SSH_ADDR=127.0.0.1:22222

# Docker compose data
PROJECT_NAME=sloppatch

# Dev tools (may be empty. Installation will be skipped if empty)
MCE_VERSION=1.1.2
VSCODE_VERSION=17baf841131aa23349f217ca7c570c76ee87b957
